// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$DarkBlue:#0d253f;
$LightBlue:#01b4e4;
$LightGreen:#90cea1;

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    scroll-behavior: smooth;
}

.MF-set{
    background-color: $DarkBlue;
    font-weight: 500;
    color: white;
}

li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.inner-width{
    width: 1300px;
    height: auto;
    margin: auto;

    @media screen {
        max-width: 1300px;
        width: 100%;
    }
}
.light-blue{
    color: $LightBlue;
}

.section-title{
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    .section-bar{
      display: flex;
      border: 1px solid black;
      border-radius: 20px;
      margin-left: 20px;
      li{
        font-weight: 700;
        padding: 5px 25px;
        cursor: pointer;
      }
    }
  }


  .movie-box{
    height: 385px;
    display: flex;
    overflow-x: scroll;
    .movie{
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0 10px;
      .poster{
        .movie-vote-average{
            font-size: 14px;
            background-color: #01b4e4;
            width: 20px;
            padding: 5px 5px;
            text-align: center;
            color: white;
        }
        img{
          width: 140px;
          border: none;
          border-radius: 7px;
        }
      }
      .movie-info{
        .title{
          font-weight: 700;
          font-size: 15px;
        }
        .release{
          font-weight: 300;
          font-size: 14px;
          color: gray;
        }
      }
    }
  }
  .choice{
    border-radius: 8px;
  }